body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: whitesmoke;
    background-image: url("../img/background.jpeg");
    background-size: contain;
}
nav{
    border-radius: 2px;
    border-bottom: solid sandybrown 3px;
    margin-bottom: 2.5em;
    width: 100%;
    color: sandybrown;
}
nav h1 {
    font-size: 2em;
    margin-bottom: 0;
}
form{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding: 4em 15em;
    margin-top: 2.5em;


}
input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    border-radius: 5px;
    background: black;
    color: floralwhite;
}
label{
    align-self: start;
}
button{
    border-radius: 5px;
    background: black;
    color: sandybrown;
}
h4{
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.hello h1{
    align-self: start;
    margin: 0;
}